<table>
  <tr>
    <th>UserId</th>
    <th>Title</th>
    <th>Body</th>
    <th>Button</th>
  </tr>
  <tr *ngFor="let post of posts ; let i = index;">
    <td>{{ post.userId }}</td>
    <td>{{ post.title }}</td>
    <td>{{ post.body }}</td>
    <td><button (click)="storeRow(post.id)">take row</button></td>
  </tr>
</table>
<hr />
<table *ngIf="storedRows.length > 0">
  <tr>
    <th>UserId</th>
    <th>Title</th>
    <th>Body</th>
  </tr>
  <tr *ngFor="let storedRow of storedRows ; let i = index;">
    <td>{{ storedRow.userId }}</td>
    <td>{{ storedRow.title }}</td>
    <td>{{ storedRow.body }}</td>
  </tr>
</table>
<table>
  <tr>
    <th>PostId</th>
    <th>UserId</th>
    <th>Name</th>
    <th>Email</th>
    <th>Body</th>
  </tr>
  <tr *ngFor="let comment of Comments ; let i = index;">
    <td>{{ comment.postId }}</td>
    <td>{{ comment.id }}</td>
    <td>{{ comment.name }}</td>
    <td>{{ comment.email }}</td>
    <td>{{ comment.body }}</td>
  </tr>
</table>